In [14]:
import pandas as pd

File_path=r"C:\Users\kiran\OneDrive\Documents\Projects\AirBNB_MAVEN_ANALYTICS\Airbnb+Data\Airbnb Data\Listings.csv"
df = pd.read_csv(File_path,encoding='iso-8859-1',low_memory=False)

print(df.head())
df["host_since"] = pd.to_datetime(df["host_since"])

   listing_id                                              name   host_id  \
0      281420    Beautiful Flat in le Village Montmartre, Paris   1466919
1     3705183                   39 mÃÂ² Paris (Sacre CÃâur)  10328771
2     4082273               Lovely apartment with Terrace, 60m2  19252768
3     4797344               Cosy studio (close to Eiffel tower)  10668311
4     4823489  Close to Eiffel Tower - Beautiful flat : 2 rooms  24837558

   host_since                 host_location host_response_time  \
0  2011-12-03  Paris, Ile-de-France, France                NaN
1  2013-11-29  Paris, Ile-de-France, France                NaN
2  2014-07-31  Paris, Ile-de-France, France                NaN
3  2013-12-17  Paris, Ile-de-France, France                NaN
4  2014-12-14  Paris, Ile-de-France, France                NaN

   host_response_rate  host_acceptance_rate host_is_superhost  \
0                 NaN                   NaN                 f
1                 NaN                   NaN                 f
2                 NaN                   NaN                 f
3                 NaN                   NaN                 f
4                 NaN                   NaN                 f

   host_total_listings_count  ... minimum_nights maximum_nights  \
0                        1.0  ...              2           1125
1                        1.0  ...              2           1125
2                        1.0  ...              2           1125
3                        1.0  ...              2           1125
4                        1.0  ...              2           1125

  review_scores_rating review_scores_accuracy review_scores_cleanliness  \
0                100.0                   10.0                      10.0
1                100.0                   10.0                      10.0
2                100.0                   10.0                      10.0
3                100.0                   10.0                      10.0
4                100.0                   10.0                      10.0

   review_scores_checkin  review_scores_communication review_scores_location  \
0                   10.0                         10.0                   10.0
1                   10.0                         10.0                   10.0
2                   10.0                         10.0                   10.0
3                   10.0                         10.0                   10.0
4                   10.0                         10.0                   10.0

  review_scores_value  instant_bookable
0                10.0                 f
1                10.0                 f
2                10.0                 f
3                10.0                 f
4                10.0                 f

[5 rows x 33 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279712 entries, 0 to 279711
Data columns (total 33 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   listing_id                   279712 non-null  int64
 1   name                         279537 non-null  object
 2   host_id                      279712 non-null  int64
 3   host_since                   279547 non-null  datetime64[ns]
 4   host_location                278872 non-null  object
 5   host_response_time           150930 non-null  object
 6   host_response_rate           150930 non-null  float64
 7   host_acceptance_rate         166625 non-null  float64
 8   host_is_superhost            279547 non-null  object
 9   host_total_listings_count    279547 non-null  float64
 10  host_has_profile_pic         279547 non-null  object
 11  host_identity_verified       279547 non-null  object
 12  neighbourhood                279712 non-null  object
 13  district                     37012 non-null   object
 14  city                         279712 non-null  object
 15  latitude                     279712 non-null  float64
 16  longitude                    279712 non-null  float64
 17  property_type                279712 non-null  object
 18  room_type                    279712 non-null  object
 19  accommodates                 279712 non-null  int64
 20  bedrooms                     250277 non-null  float64
 21  amenities                    279712 non-null  object
 22  price                        279712 non-null  int64
 23  minimum_nights               279712 non-null  int64
 24  maximum_nights               279712 non-null  int64
 25  review_scores_rating         188307 non-null  float64
 26  review_scores_accuracy       187999 non-null  float64
 27  review_scores_cleanliness    188047 non-null  float64
 28  review_scores_checkin        187941 non-null  float64
 29  review_scores_communication  188025 non-null  float64
 30  review_scores_location       187937 non-null  float64
 31  review_scores_value          187927 non-null  float64
 32  instant_bookable             279712 non-null  object
dtypes: datetime64[ns](1), float64(13), int64(6), object(13)
memory usage: 70.4+ MB

In [22]:
df=df.query("city=='Paris'")

In [23]:
df=df.loc[:,["host_since","neighbourhood","city","accommodates","price"]]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64690 entries, 0 to 279711
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   host_since     64657 non-null  datetime64[ns]
 1   neighbourhood  64690 non-null  object
 2   city           64690 non-null  object
 3   accommodates   64690 non-null  int64
 4   price          64690 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 3.0+ MB

In [27]:
df.isna().sum()

host_since       33
neighbourhood     0
city              0
accommodates      0
price             0
dtype: int64

In [29]:
df.describe()

                          host_since  accommodates         price
count                          64657  64690.000000  64690.000000
mean   2015-11-01 11:06:05.528867584      3.037997    113.096445
min              2008-08-30 00:00:00      0.000000      0.000000
25%              2014-03-09 00:00:00      2.000000     59.000000
50%              2015-07-07 00:00:00      2.000000     80.000000
75%              2017-05-29 00:00:00      4.000000    120.000000
max              2021-02-07 00:00:00     16.000000  12000.000000
std                              NaN      1.588766    214.433668

In [41]:
Paris_listing_Neighborhood=(df
                            .groupby("neighbourhood")
                            .agg({"price":"mean"})
                            .sort_values("price")
                            )

In [44]:
Paris_listing_Neighborhood.tail()

                     price
neighbourhood
Luxembourg      155.638639
Palais-Bourbon  156.856578
Passy           161.144635
Louvre          175.379972
Elysee          210.536765

In [57]:
Paris_listing_overtime= (df
                         .set_index("host_since")
                         .resample("Y")
                         .agg({"neighbourhood":"count","price":"mean"})
                      
                        )

In [49]:
PAris_listings_accomodate=(df.query("neighbourhood=='Elysee'"))

In [50]:
PAris_listings_accomodate.head()

    host_since neighbourhood   city  accommodates  price
2   2014-07-31        Elysee  Paris             2     89
14  2015-12-30        Elysee  Paris             2     35
128 2015-03-26        Elysee  Paris             2     75
137 2015-08-23        Elysee  Paris             2     90
260 2014-07-18        Elysee  Paris             2    110

In [53]:
PAris_listings_accomodate=(PAris_listings_accomodate
                           .groupby("accommodates")
                           .agg({"price":"mean"})
                            .sort_values("price")
                            )